@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111;
    font-family: 'Lato', sans-serif;
}

.container-questions {
    background: url(../imagens/fundo-claroo.png) center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-questions video {
    border-radius: 10px;
    margin-top: 10px;
    width: 240px;
}

.container-questions form {
    margin-top: 20px;
    font-size: 1rem;
}

input[type="radio"] {
    appearance: none;
    width: 15px; 
    height: 15px;
    border-radius: 50%; 
    border: 1px solid #F37F30; 
    outline: none;
    margin-right: 5px; 
  }

  input[type="radio"]:checked {
    background-color: #F15115;
  }

.input-box {
    padding: 10px 10px;
    border-radius: 6px;
    border: #F15115 solid 1px;
    box-shadow: #EF9305 0px 0px 7px;
    margin: 0 18px;
    margin-bottom: 20px;
}


  /* Botão */
  .space-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-85 img {
    width: 13px;
    margin-left: 5px;
  }

  .button-85 {
    padding: 1em 2em;
    width: 160px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #731943,
      #F15115,
      #EF9305,
      #F37F30,
      #F2C438
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    /* animation: glowing-button-85 20s linear infinite; */
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  /* TEMA ESCURO */
  #theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#theme-toggle img {
  width: 30px;
}

.dark-theme {
  background: url(../imagens/fundo-escuroo.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
  

  /* Responsividade */

  @media screen and (min-width:610px) {
    #theme-toggle img {
      width: 35px;
    }

    .container-questions video {
      margin-top: 15px;
      width: 250px;
  }
  
  .container-questions form {
      margin-top: 18px;
      font-size: 1.1rem;
  }

  .input-box {
    padding: 10px 10px;
    margin: 0 20px;
    margin-bottom: 20px;
    max-width: 500px;
}
}

@media screen and (min-width:800px) {
  #theme-toggle img {
    width: 40px;
  }

  .container-questions {
    flex-direction: row;
}

.container-questions video {
  width: 270px;
}

.container-questions form {
  margin-left: 25px;
}


.input-box {
  padding: 10px 10px;
  margin: 0 20px;
  margin-bottom: 20px;
  max-width: 450px;
}
}

@media screen and (min-width:1000px) {
  .container-questions video {
    width: 300px;
  }

  .container-questions form {
    margin-left: 40px;
  }

  input[type="radio"] {
    margin-right: 8px;
  }

  .input-box {
    margin-bottom: 30px;
    max-width: 420px;
  }
}

@media  screen and (min-width:1320px) {
  .container-questions video {
    width: 330px;
  }

  .container-questions form {
    margin-left: 50px;
    font-size: 1.3rem;
  }

  input[type="radio"] {
    width: 20px;
    height: 20px;
  }

  .input-box {
    max-width: 550px;
  }
}

@media  screen and (min-width:1490px) {
  .container-questions video {
    width: 345px;
  }

  .container-questions form {
    margin-left: 70px;
  }

  .input-box {
    max-width: 580px;
    padding: 13px 13px;
  }
}

  
